/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

#btnControl {
  display: none;
}

.showOverlay:click .showOverlay {
  display: block
}

.marque {
  /* Starting position */
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  /* Apply animation to this element */
  -moz-animation: bouncing-text 25s linear infinite alternate;
  -webkit-animation: bouncing-text 25s linear infinite alternate;
  animation: bouncing-text 25s linear infinite alternate;
}

/* Move it (define the animation) */
@-moz-keyframes bouncing-text {
  0% {
    -moz-transform: translateX(50%);
  }

  100% {
    -moz-transform: translateX(-50%);
  }
}

@-webkit-keyframes bouncing-text {
  0% {
    -webkit-transform: translateX(50%);
  }

  100% {
    -webkit-transform: translateX(-50%);
  }
}

@keyframes bouncing-text {
  0% {
    -moz-transform: translateX(50%);
    /* Browser bug fix */
    -webkit-transform: translateX(50%);
    /* Browser bug fix */
    transform: translateX(50%);
  }

  100% {
    -moz-transform: translateX(-50%);
    /* Browser bug fix */
    -webkit-transform: translateX(-50%);
    /* Browser bug fix */
    transform: translateX(-50%);
  }
}

.overlay-color {
  height: 440px;
  width: 100vw;
  min-height: 400px;
  background: #2A2A5E;
  background: linear-gradient(#64CDE6, #2A2A5E);
  background: -webkit-linear-gradient(#64CDE6, #2A2A5E);
}

.test::placeholder {
  text-transform: capitalize;
  padding-right: -5px;
  color: blue;
  font-size: 1.5em;
}

.hr {
  margin: 10px auto;
  width: 80%;
  height: 2px;
  background-color: green;
  display: flex;
  justify-content: center;
}

.toggle-menu {
  display: flex;
  animation: slide-in-bottom;
  animation-duration: 1.5s;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.consulting:hover .subMenu1 {
  display: block;
}

.hide-cart:hover {
  cursor: pointer;
  color: black
}

.cart {
  right: -350px;
}

.show-cart {
  transition: ease-in 0.3s all;
  right: 0;
}

.remove-cart {
  transition: ease-out 0.3s all;
  right: -350px;

}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

.toggle-cart {
  animation: slide-out-right;
  animation-duration: 1s;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
    display: none;
  }
}

.changeQuantity {
  display: inline-block;
}

.cartQty {
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
  color: #f6f1f1;
  background-color: #000;
  left: 70%;
  position: absolute;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-active {
  color: black !important;
  background-color: rgb(224 242 254);
}

.active-footer {
  color: rgb(125 211 252) !important;

}

@media only screen and (max-width: 1024px) {
  .active {
    color: black !important;
    background-color: rgb(224 242 254);
  }
}

@media only screen and (min-width: 1024px) {
  .active {
    color: rgb(125 211 252) !important;

  }
}